<!-- <li><a href="{{ object.get_absolute_url }}">{{ blog_post.title }}</a></li> -->
<style type="text/css">
	.padding{
		padding: 10px
	}
</style>

<div class="padding">
			<div class='col-md-12 col-md-4 col-sm-4'>
			<div class='card {% if not blog_post.publish_date %} bg-warning text-dark {% endif %}'> 
				<!-- here we changed the colors of the text and the background -->
				<div class='card-body'>

					<h3><a class='username' href='{{ blog_post.get_user_url }}'>{{ blog_post.user }}</a></h3>

					{% if blog_post.image %}
						<a href='{{ blog_post.get_absolute_url }}'>
							<img src="{{ blog_post.image.url }}" class='card-img-top' />
						</a>
					{% endif %}
					<!-- we got this card-body from bootstrap documentation -->
					<h5 class="card-title">{{ blog_post.title }}</h5>
					<p class='card-text'>
						<small class='text-muted'>{{ blog_post.publish_date }}</small>
						{% if truncate %}
							{{ blog_post.content|linebreaks|truncatewords:30 }}
						{% else %}
							{{ blog_post.content|linebreaks }}
						{% endif %}
					</p>
					{% if not detail %}

						{% if not blog_post.publish_date %} Draft {% endif %}
						<a href='{{ blog_post.get_absolute_url }}'>View</a>
						{% if user == blog_post.user %}
							<a href="{{ blog_post.get_edit_url }}">Edit</a>	
							<a href="{{ blog_post.get_delete_url }}">Delete</a>
						
						{% else %}
							

						{% endif %}
					{% endif %}
							<!-- <a href="{{ blog_post.get_comment_url }}">Comment</a> -->

					
						
						</div>

			       	 	</div>
				
		</div>
		
</div>