{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<style>
        * {
          box-sizing: border-box;
        }
        .layout{
                margin-top: 85px;
        }
        @media only screen and (max-width: 320px){
                body{font-size: 12px;}
        }
        .form{
                /*background-color: #e0dcdc;*/
        }
        .logo{
                text-align: center;
        }
        button[type=submit]{
                background-color:#79d9d4;
        }
        button[type=submit]:hover{
                background-color:#10bbde;
        }

</style>
{% if title %}
<h1>{{title}}</h1>
{% endif %}
<div class="layout">
    <div class='col-8 col-md-4 mb-4 mx-auto'>
        <div class='card'>
            <div class="card-body">
                <form method="POST" action='.' enctype="multipart/form-data">  {% csrf_token %}
                    <div class="logo">
                        <img src="https://sun9-10.userapi.com/MUqNF8osDKgHdm5BW6RtiPOR9FfVbQt501xOrQ/pnhEbjLJe0Y.jpg" width="320" height="100">
                    </div>
                    <div class="form">
                                      <!-- {{ form.as_p }} -->
                        <input type="hidden" name="next" value="{{ next }}">{{ form|crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}